<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="file" xsi:type="File"
          layout="${longdate} ${event-properties:item=EventId_Id} ${logger} ${message}${exception:format=ToString}"
          fileName="${basedir}/log/${shortdate}.log"
          maxArchiveFiles="4" />
    </targets>
  <rules>
    <logger name="*" minlevel="info" writeTo="file" />
  </rules>
</nlog>